# Copy to .env and fill in strong secrets before first launch.
MOODLE_WWWROOT=http://localhost:8080
HTTP_PORT=8080
MOODLE_SSLPROXY=false
MOODLE_REVERSEPROXY=false
MOODLE_SITE_FULLNAME=Enterprise Assessment Portal
MOODLE_SITE_SHORTNAME=EAP
MOODLE_ADMIN_USER=examadmin
MOODLE_ADMIN_PASS=CHANGE_ME_Str0ng!Pass
MOODLE_ADMIN_EMAIL=admin@example.edu
DB_HOST=mariadb
DB_NAME=moodle
DB_USER=moodleuser
DB_PASS=CHANGE_ME_db_pass
DB_ROOT_PASS=CHANGE_ME_root_pass
INNODB_BUFFER_POOL_SIZE=1G
SEB_QUIT_PASSWORD=CHANGE_ME_quit_pass
MOODLE_BRANCH=MOODLE_405_STABLE
TZ=UTC
